@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class=" conatiner">


    <h1>
        hello world 
    </h1>


    <p>
        home work    design a landing page here 

    </p>

</div>