<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - webmvc</title>
   
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/webmvc.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/35c4f0c859.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&family=Sofia+Sans:wght@300;400;700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="landing-page">
        <header>
            <div class="container">
                <a href="#" class="logo">Uzayr<b>Website</b></a>
                <ul class="links">
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                    </li>
                    <li>
                        <a class="nav-link " asp-area="" asp-page="/SignUp">Register with Us </a>
                    </li>

                </ul>
            </div>
        </header>
    
    
   <div class="content">
        <div class="container">
           
                @RenderBody()
            
        </div>  
   </div>
   

   
    </div>
   

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>